/* font-weight */


$font-Black: 'Avenir LT Std 65';
$font-Heavy: 'Avenir LT Std 55 Roman';

@mixin font-800() {
    font-family: $font-Black;
}
@mixin font-900() {
    font-family: $font-Heavy;
}
/* End of font-weight */


.cattle-form-section {
    padding: 35px 0;

    .row-5{
        margin:  0 -5px;
        .pad-5 {
            padding: 0 5px;
        }
    }
    .cattle-box {
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 585px;
        padding: 40px 40px;
        margin-bottom: 10px;
        border: 2px solid #FAFAFA;
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 2px solid #62C2CE;
        }
        &.active {
            border: 2px solid #62C2CE;
        }
        p {
            font-size: 20px;
            color: #000000;
        }
        .cattel-img-box{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            img {
                object-fit: contain;
                height: 235px;
            }
        }
    }
}

.sheep-form-section {
    padding: 35px 0;

    .row-5{
        margin:  0 -5px;
        .pad-5 {
            padding: 0 5px;
        }
    }
    .sheep-box {
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 585px;
        padding: 40px 40px;
        margin-bottom: 10px;
        border: 2px solid #FAFAFA;
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 2px solid #62C2CE;
        }
        &.active {
            border: 2px solid #62C2CE;
        }
        p {
            font-size: 20px;
            color: #000000;
        }
        .cattel-img-box{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            img {
                object-fit: contain;
                height: 235px;
            }
        }
    }
}

.horse-form-section {
    padding: 35px 0;

    .row-5{
        margin:  0 -5px;
        .pad-5 {
            padding: 0 5px;
        }
    }
    .horse-box {
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 585px;
        padding: 40px 40px;
        margin-bottom: 10px;
        border: 2px solid #FAFAFA;
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 2px solid #62C2CE;
        }
        &.active {
            border: 2px solid #62C2CE;
        }
        p {
            font-size: 20px;
            color: #000000;
        }
        .horse-img-box{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            img {
                object-fit: contain;
                height: 235px;
            }
        }
    }
}

.form-div .custom-checkbox-new.checkbox-mtb-30{
    margin: 5px 0 20px 0;
}

.horse-pre-sale-section {
    padding: 35px 0;
    .horse-pre-sale-inner {
        
        .signature-area{
            margin-top: 40px;
            label {
                margin-bottom: 10px;
            }
            .signautre-box {
                height: 230px;
                width: 100%;
                background-color: #FAFAFA;
                border: 1px solid #707070;
            }
        }
        
    }
}

.pre-sale-panel-custom{

    &.card.panel-custom .card-header.panel-heading { padding: 20px 30px 18px 30px; }

    .pre-sale-panel-body1{
        position: relative;
        &.panel-body { padding: 30px 30px; }

        p { font-size: 16px; line-height: 24px; }

        .text-span { min-width: 70px;}
        .min-width130{ min-width: 130px; }
        .min-width105{ min-width: 105px; }
        .min-width230{ min-width: 230px; }
        .min-width80{ min-width: 80px; }
        .min-width45{ min-width: 45px; }
        .min-width55{ min-width: 55px; }
        .min-width60{ min-width: 60px; }

        .form-div .black-border-checkbox{
            .custom-control-label::before { border-color: #000000;}
            .custom-control-label { font-size: 18px; color: #000000; padding-top: 1px; }
            .custom-control-input:checked ~ .custom-control-label::before{ border-color: #ffffff; }
            .custom-control-input:checked ~ .custom-control-label:after{ color: #000000; }
        } 
        
        .form-div .form-control.form-border-bottom {
            height: 24px; min-height: 24px; font-size: 16px; border-radius: 0px; padding: 5px 0px 5px 0px; border: none; border-bottom: 1px solid #000;
            &:focus{  box-shadow: none; }
        }

        .seller-fill-form {
            display: flex; width: 100%; margin: 0 0 30px 0;
            .col-seller{ display: flex; margin-bottom: 15px; }
            span.text-span { padding-right: 5px; font-weight: 400;  font-size: 18px; color: #000000; letter-spacing: -0.13px; line-height: 24px; }
        }

        .thumb-div.qr-code-thumb-div{
            height: 100%;
            width: 100%;
            display: flex;
            padding: 90px 10px 10px 10px;
            justify-content: center;
            align-items: flex-start;
        
        }

        .text-desc{ margin: 0 0 10px 0; }
        .f-size-18{ font-size: 18px; padding-top: 5px; }

        .buyer-fill-form{ padding: 30px 0 0 0; }

    }

}

.dashboard-brand-section{
    padding: 35px 0;
}

.card.panel-dashboard{
    background-color: #fff; border: 1px solid #F1F1F1; margin: 0 0 15px 0;
    .card-header.panel-heading { padding: 20px 30px 18px 30px; background-color: #ffffff; border-bottom: 1px solid rgba(151, 151, 151, 0.13); }
    .card-header.d-flex-heading{ display: flex; justify-content: space-between; align-items: center; padding: 12px 30px 8px 30px; }

    .panel-body1{ padding: 30px 30px 30px 30px; }

    .box-number-row { display: flex; justify-content: space-between; padding: 5px 0 20px 0;
        .box-number { min-width: 100px; }
        h2 { font-size: 34px; color: #111111; letter-spacing: 0; @include font-800(); }
        p{ font-weight: 500; font-size: 14px; color: #727272; letter-spacing: 0; line-height: 22px; }        
    }

    .graph-round-div{
        padding: 0; margin: 0; position: relative; display: flex; flex-wrap: wrap; align-items: center;
        .grid-half-div{ width: 50%; }

        .dot-span { height: 9px; width: 9px; display: inline-block; background-color: #296F3E; border-radius: 100px; margin: 0 5px 0 0; }
        .dot-span1{ background-color: #296F3E; }
        .dot-span2{ background-color: #B7C04F; }
        .dot-span3{ background-color: #111111; }
        .dot-span4{ background-color: #62C2CE; }

        ul.event-ul{ 
            list-style: none; padding: 10px 0;
            li { font-weight: 500; font-size: 13px; line-height: 24px; margin: 0 0 12px 0; color: #000000; letter-spacing: 0; position: relative; 
                span.in-mobile{ display: none; }
            } 
        }

        img.img-graph { width: 100%; height: 130px; object-fit: contain; object-position: center right; }

    }
    
    .graph-full-div{
        padding: 0; margin: 0; position: relative;
        img.img-graph { height: 246px; width: 100%; object-fit: contain; object-position: left; }
        img.img-graph-full{ height: 302px; width: 100%; object-fit: contain; object-position: left; }
    }

}

.card.panel-dashboard-full{
    .panel-body1{ padding:20px 20px 20px 20px; }
}


.sorting-div{
    .form-group.select-group { width: 120px; margin-bottom: -5px !important; }
    .select-custom2 .select2-selection.select2-selection--single { border: 1px solid rgba(151, 151, 151, .4) !important; min-height: 30px; color: #3C454C; font-size: 13px; font-weight: 400; width: 100%; background: #fff; position: relative; padding: 2px 5px; box-shadow: 0 3px 6px 0 rgba(192, 192, 192, 0.2); margin-bottom: 10px; border-radius: 4px; }
    .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b { top: 9px; left: 10px; font-size: 17px; }
}


img.d-none-mobile{ display: block !important; }
img.d-none-desktop{ display: none !important; }

@media (max-width: 767px) {

    .pre-sale-footer{
        &.tab-footer { padding: 10px 0px 0 0; }
        .step-btn.width-25.sm-width-50.order-1 {
            flex: 0 0 72px;
            max-width: 72px;
        }
        .step-btn.width-25.sm-width-50.order-2 {
            flex: 0 0 calc(100% - 72px);
            max-width: calc(100% - 72px);
        }
    }

    .horse-pre-sale-section {
        .horse-pre-sale-inner {
            .signature-area {
                margin-top: 10px;
            }
            .form-group.mt-20{
                margin-bottom: 5px;
            }
        }
    }

    .pre-sale-panel-custom {
        &.card.panel-custom{ margin: 0 -15px;
            .card-header.panel-heading { padding: 20px 20px 18px 20px; }
        }
        

        .pre-sale-panel-body1 {
            .thumb-div.qr-code-thumb-div { padding: 25px 10px 40px 10px; }
            .f-size-18 { font-size: 15px; }
            p{ font-size: 14px; line-height: 22px; }
            .seller-fill-form {
                span.text-span { padding-bottom: 5px; display: block; font-size: 16px; line-height: 22px; width: 100%; }
                .col-seller { display: block; margin-bottom: 15px; }
            }
            .form-div {
                .black-border-checkbox {
                    .custom-control-label { font-size: 16px; padding-top: 2px; }
                }
            }
        }
    }
    
    .card.panel-dashboard {
        .card-header.panel-heading {
            padding: 20px 20px 18px 20px;
        }
        .graph-round-div {
            img.img-graph {
                object-position: center;
            }
            .grid-half-div {
                width: 100%;   
                &.order-list2 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;margin-top:10px; margin-bottom:10px; } 
                &.order-list1 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } 
            }
            ul.event-ul {
                li {
                    span.in-mobile {
                        display: inline-block;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        
    }
    
    .card.panel-dashboard .card-header.d-flex-heading { padding: 15px 20px 10px 20px; flex-direction: column; justify-content: flex-start; align-items: flex-start; 
        h2 { margin: 5px 0 12px 0; }
    }

    img.d-none-mobile{ display: none !important; }
    img.d-none-desktop{ display: block !important; width: 100% !important; height: auto !important; }

    
    .cattle-form-section .cattle-box .cattel-img-box img { max-width: 100%; }
    .cattle-form-section .cattle-box { width: 100%; height: auto; min-height: 420px; padding: 40px 30px; }
    .cattle-form-section .cattle-box p{ margin: 0 0 30px 0; } 
    .sheep-form-section .sheep-box .cattel-img-box img { max-width: 100%; }
    .sheep-form-section .sheep-box { width: 100%; height: auto; min-height: 300px; padding: 40px 30px; }
    .sheep-form-section .sheep-box p{ margin: 0 0 30px 0; } 

    .horse-form-section .horse-box{ width: 100%; height: auto; min-height: 300px; padding: 40px 30px; }
    .horse-form-section .horse-box .horse-img-box img{ max-width: 100%; }
    .horse-form-section .horse-box p{ margin: 0 0 30px 0; } 

}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .pre-sale-panel-custom {
        &.card.panel-custom{
            .card-header.panel-heading { padding: 20px 20px 18px 20px; }
        }
        

        .pre-sale-panel-body1 {
            .thumb-div.qr-code-thumb-div { padding: 25px 10px 40px 10px; }
            .f-size-18 { font-size: 15px; }
            
        }
    }

    .pre-sale-footer{
        &.tab-footer { padding: 10px 0px 0 0; }
        .step-btn.width-25.sm-width-50.order-1 {
            flex: 0 0 72px;
            max-width: 72px;
        }
        .step-btn.width-25.sm-width-50.order-2 {
            flex: 0 0 calc(100% - 72px);
            max-width: calc(100% - 72px);
        }
    }

    .horse-pre-sale-section {
        .horse-pre-sale-inner {
            .signature-area {
                margin-top: 10px;
            }
            .form-group.mt-20{
                margin-bottom: 5px;
            }
        }
    }

    .pre-sale-panel-custom {
        &.card.panel-custom{ margin: 0 -15px;
            .card-header.panel-heading { padding: 20px 20px 18px 20px; }
        }
        

        .pre-sale-panel-body1 {
            .thumb-div.qr-code-thumb-div { padding: 25px 10px 40px 10px; }
            .f-size-18 { font-size: 15px; }
            p{ font-size: 14px; line-height: 22px; }
            .seller-fill-form {
                span.text-span { padding-bottom: 5px; display: block; font-size: 16px; line-height: 22px; width: 100%; }
                .col-seller { display: block; margin-bottom: 15px; }
            }
            .form-div {
                .black-border-checkbox {
                    .custom-control-label { font-size: 16px; padding-top: 2px; }
                }
            }
        }
    }
    
    .card.panel-dashboard {
        .card-header.panel-heading {
            padding: 20px 20px 18px 20px;
        }
        .box-number-row { max-width: 350px;    margin: 0 auto; }
        .graph-round-div {
            max-width: 350px;    margin: 0 auto;
            img.img-graph {
                object-position: center;
            }
            .grid-half-div {
                width: 100%;   
                &.order-list2 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;margin-top:10px; margin-bottom:10px; } 
                &.order-list1 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } 
            }
            ul.event-ul {
                li {
                    span.in-mobile {
                        display: inline-block;
                        position: absolute;
                        right: 0;
                    }
                }
            }
          
        }
        
        .graph-full-div img.img-graph-full {
            height: auto;
            width: 100%;
        }
        
    }
 
    .cattle-form-section .cattle-box .cattel-img-box img { max-width: 100%; }
    .cattle-form-section .cattle-box { width: 100%; height: auto; min-height: 420px; padding: 40px 30px; }
    .cattle-form-section .cattle-box p{ margin: 0 0 30px 0; } 
    .sheep-form-section .sheep-box .cattel-img-box img { max-width: 100%; }
    .sheep-form-section .sheep-box { width: 100%; height: auto; min-height: 300px; padding: 40px 30px; }
    .sheep-form-section .sheep-box p{ margin: 0 0 30px 0; } 

    .horse-form-section .horse-box{ width: 100%; height: auto; min-height: 300px; padding: 40px 30px; }
    .horse-form-section .horse-box .horse-img-box img{ max-width: 100%; }
    .horse-form-section .horse-box p{ margin: 0 0 30px 0; } 

}
