// font-family: 'Dancing Script', cursive;

.certificate-section{ padding: 0; margin: 0; position: relative; }
.certificate-div { padding: 0; margin: 20px auto 20px auto; position: relative; max-width: 760px; border: 50px solid #ddd; border-style: solid;   border-image: url(../images/certificate/certificate-pattern.svg) 60 round; }

.certificate-root { padding: 30px 25px 25px 25px; margin: 0 auto; position: relative; max-width: 100%; width: 100%; background-color: #fff; border: 0px solid #ddd; border-style: double;
    .span-block{ display: block; }
}
 
.certificate-header {
    padding: 0; margin: 0 0 20px 0; position: relative; display: flex; justify-content: space-between;
    .certificate-header-left{ padding: 0; margin: 0; width: 25%; text-align: left; }
    .certificate-header-center{ padding: 0; margin: 0; width: 50%; }
    .certificate-header-right{ padding: 0; margin: 0; width: 25%; text-align: right; }

    .img-icon-logo { width: 100px; height: 120px; object-fit: contain;  }
    .img-seal-logo { width: 120px; height: 120px; object-fit: contain;  }

    h1 { padding: 0; margin: 20px 0 30px 0; font-weight: 500; font-size: 24px; line-height: 32px; color: #002411; letter-spacing: -0.15px; text-align: center; }
    h2{ padding: 0; margin: 20px 0 20px 0; font-weight: 500; font-size: 24px; line-height: 32px; color: #002411; letter-spacing: -0.15px; text-align: center;text-transform: capitalize; font-family: 'Pacifico', cursive; }
    h3 { padding: 0; margin: 10px 0 10px 0; font-weight: 600; font-size: 18px; line-height: 32px; color: #002411; letter-spacing: -0.15px; text-align: center; }

}

.certificate-body{
    padding: 0; margin: 0 0 10px 0; position: relative; display: flex; justify-content: space-between;

    .certificate-body-left{ padding: 0; margin: 0; width: 30%;  }
    .certificate-body-right{ padding: 0; margin: 0; width: 70%;  }

    h4{ padding: 0; margin: 0px 0 0px 0; font-weight: 500; font-size: 18px; line-height: 32px; color: #002411; letter-spacing: -0.15px; text-align: center; }
    h4.h4-1{ margin: 0 0 5px 0; }
    h5{ padding: 0; margin: 0px 0 0px 0; font-weight: 400; font-size: 16px; line-height: 24px; color: #002411; letter-spacing: -0.15px; text-align: center; }

    .img-thumb{ padding: 0; margin: 0 auto 15px auto; position: relative; display: flex; justify-content: center; }
    .img-csm { max-width: 100%; margin: 0 auto; width: 150px; object-fit: contain; object-position: center; }

    p { font-size: 16px; text-align: center; line-height: 26px; margin: 0 0 20px 0; font-weight: 300; }
    span.time-span { font-weight: 700; }
    .content-div { margin: 0 auto; max-width: 500px; }



}

.certificate-footer{
    padding: 30px 0 20px 0; margin: 0; position: relative;
    .qr-code-center { width: 100%; display: flex; justify-content: center; }
    .qr-code-img { width: 220px; object-fit: contain; }
}

@media (max-width: 767px) {

    .certificate-root { padding: 35px 15px 25px 15px; }

    .certificate-header{
        flex-wrap: wrap;
        
        .img-icon-logo { width: 100px; height: 100px;}

        .certificate-header-left{ width: 100%; text-align: center; }
        .certificate-header-right { width: 100%; text-align: center; }
        .certificate-header-center { width: 100%; text-align: center; }

        h1 { font-size: 18px; line-height: 24px; margin: 20px 0 0 0; }
        h2 { margin: 5px 0 15px 0; font-size: 20px; line-height: 32px; }
        h3 { margin: 0 0 20px 0; font-size: 15px; line-height: 28px; }

    } 


    .certificate-body{
        flex-wrap: wrap;

        .certificate-body-left { margin: 10px 0 25px 0; width: 100%; }
        .certificate-body-right{ width: 100%; }

    } 

    .certificate-footer .qr-code-img {
        width: 175px;
    }

}