$font-Black: 'Avenir LT Std 65';
$font-Heavy: 'Avenir LT Std 55 Roman';

@mixin font-800() {
    font-family: $font-Black;
}
@mixin font-900() {
    font-family: $font-Heavy;
}
/* End of font-weight */

.table-listing-section {
    padding: 40px 0;


        .form-search-icon {
            position: relative;
            .form-control {
                padding-right: 40px;
            }
            .icon-search {
                position: absolute;
                right: 0px;
                top: 0px;
                display: block;
                padding: 9px 10px;
                height: 100%;
                width: 40px;
                i {
                    font-size: 20px;
                }
            }
        }
    


    .table-listing {
        border-collapse:separate; 
        border-spacing: 0 10px;
        thead {
            background-color: #f1f1f1;
            height: 40px;
            border: 0;
            tr {
                border: 0;
                th {
                    border: 0;
                    font-size: 16px;
                    color: #888888;
                    letter-spacing: -0.12px;
                    font-family: $font-Heavy;
                    font-weight: 600;
                    line-height: 20px;
                    white-space: nowrap;
                    padding: 11px 20px;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 18px;
                    color: rgba(0,0,0,0.52);
                    line-height: 30px;
                    background: #FFFFFF;
                    border-top: 1px solid rgba(0,36,17, 0.1) !important;
                    border-bottom: 1px solid rgba(0,36,17, 0.1) !important;
                    vertical-align: middle;
                    white-space: nowrap;
                    padding: 15px 20px;
                    &:last-child {
                        border-right: 1px solid rgba(0,36,17, 0.1) !important;
                    }
                    &:first-child {
                        border-left: 1px solid rgba(0,36,17, 0.1) !important;
                    }
                }
                .text-bold {
                    font-family: $font-Heavy;
                    color: #000000;
                }

                .text-red {
                    color: #F45C56;
                    font-family: $font-Heavy;
                }

                .text-green {
                    color: #296F3E;
                    font-family: $font-Heavy;
                }
            }
        }
    }
}