/* End of font-weight */
.table-listing-section {
  padding: 40px 0;
}

.table-listing-section .form-search-icon {
  position: relative;
}

.table-listing-section .form-search-icon .form-control {
  padding-right: 40px;
}

.table-listing-section .form-search-icon .icon-search {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  padding: 9px 10px;
  height: 100%;
  width: 40px;
}

.table-listing-section .form-search-icon .icon-search i {
  font-size: 20px;
}

.table-listing-section .table-listing {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-listing-section .table-listing thead {
  background-color: #f1f1f1;
  height: 40px;
  border: 0;
}

.table-listing-section .table-listing thead tr {
  border: 0;
}

.table-listing-section .table-listing thead tr th {
  border: 0;
  font-size: 16px;
  color: #888888;
  letter-spacing: -0.12px;
  font-family: "Avenir LT Std 55 Roman";
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  padding: 11px 20px;
}

.table-listing-section .table-listing tbody tr td {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.52);
  line-height: 30px;
  background: #FFFFFF;
  border-top: 1px solid rgba(0, 36, 17, 0.1) !important;
  border-bottom: 1px solid rgba(0, 36, 17, 0.1) !important;
  vertical-align: middle;
  white-space: nowrap;
  padding: 15px 20px;
}

.table-listing-section .table-listing tbody tr td:last-child {
  border-right: 1px solid rgba(0, 36, 17, 0.1) !important;
}

.table-listing-section .table-listing tbody tr td:first-child {
  border-left: 1px solid rgba(0, 36, 17, 0.1) !important;
}

.table-listing-section .table-listing tbody tr .text-bold {
  font-family: "Avenir LT Std 55 Roman";
  color: #000000;
}

.table-listing-section .table-listing tbody tr .text-red {
  color: #F45C56;
  font-family: "Avenir LT Std 55 Roman";
}

.table-listing-section .table-listing tbody tr .text-green {
  color: #296F3E;
  font-family: "Avenir LT Std 55 Roman";
}
/*# sourceMappingURL=listing-table.css.map */