.draw-slider-view-root .slider-list-view .draw-box-div {
  width: 100%;
}

.modal-common .modal-footer .width-100 {
  width: 100%;
}

.modal-common .modal-footer .col-footer .btn-col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-common .modal-footer .col-footer .btn.btn-primary .fe-arrow-right {
  margin: -3px 0 0 10px;
  font-size: 19px;
}

.modal-common .modal-footer .col-footer .btn.btn-primary .fe-save {
  font-size: 20px;
  margin: -3px 10px 0 0;
}

.modal-common .modal-footer .col-footer .btn.btn-undo {
  border: 2px solid #62c2ce;
  padding: 10px 20px 8px 20px;
  min-width: 115px;
}

.modal-common .modal-footer .col-footer .btn.btn-undo .fe-rotate-ccw {
  font-size: 18px;
  margin: -3px 8px 0 0;
}

.modal-common .modal-footer .col-footer .btn.btn-reset {
  border: 2px solid #888888;
  color: #888888;
  padding: 10px 20px 8px 20px;
  min-width: 115px;
}

.modal-common .capture-image-div {
  width: 100%;
}

.modal-common .capture-image-div .span-round-box {
  background: #000000;
  border: 6px solid #3d3d3c;
  color: #fff;
  font-size: 24px;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 10px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-common .capture-image-div .btn.btn-take-snap {
  font-size: 20px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  border: none;
  padding: 0 20px;
  margin: 0 auto;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-common .capture-image-div .btn.btn-take-snap:hover, .modal-common .capture-image-div .btn.btn-take-snap:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #62C2CE;
}

.modal-common .capture-image-div .btn.btn-take-snap:hover .span-round-box, .modal-common .capture-image-div .btn.btn-take-snap:focus .span-round-box {
  background-color: #62C2CE;
  border-color: #56abb6;
  color: #fff;
}

.modal-common .capture-image-div .btn.btn-flip-link {
  background-color: transparent;
  font-size: 20px;
  color: #000000;
  padding: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-common .capture-image-div .btn.btn-flip-link .fe-custom-icon {
  font-size: 22px;
  margin: 0 10px 0 0;
  display: inline-block;
}

.modal-common .capture-image-div .btn.btn-flip-link:hover, .modal-common .capture-image-div .btn.btn-flip-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #62C2CE;
}

.modal-common .capture-image-div .btn-col-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-common .capture-image-div .btn-col-box-01 {
  width: 75%;
  padding-left: 25%;
}

.modal-common .capture-image-div .btn-col-box-02 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-common .img-width {
  width: 100%;
}

/* capture modal */
.modal-common-capture.modal-common .modal-body {
  padding: 0;
}

/* End of capture modal */
@media (max-width: 767px) {
  .draw-slider-view-root .slider-list-view .draw-box-div {
    width: 33.3%;
  }
  .modal-common .modal-footer .col-footer .btn.btn-primary {
    width: 100%;
  }
  .modal-common .modal-footer .col-footer .btn.btn-undo {
    width: 100%;
  }
  .modal-common .modal-footer .col-footer .btn.btn-reset {
    width: 100%;
  }
  .modal-common .modal-footer .col-footer .btn-linked {
    margin: 0 5px 10px 5px !important;
    padding: 0;
    width: calc(50% - 10px);
  }
  .modal-common .capture-image-div .btn-col-box-01 {
    width: 100%;
    padding-left: 0;
  }
  .modal-common .capture-image-div .btn-col-box-02 {
    width: 100%;
    padding: 10px;
    background-color: #fafafa;
    margin: 15px 0 0 0;
  }
  .modal-common .capture-image-div .btn.btn-take-snap {
    font-size: 16px;
  }
  .modal-common .capture-image-div .span-round-box {
    border: 4px solid #3d3d3c;
    font-size: 20px;
    height: 50px;
    width: 50px;
  }
  .modal-common .capture-image-div .btn.btn-flip-link {
    font-size: 16px;
  }
  .modal-common .capture-image-div .btn.btn-flip-link .fe-custom-icon {
    font-size: 18px;
  }
  .modal-common.modal-common-capture .modal-footer {
    padding: 20px 20px 0 20px;
    border: none;
  }
}
/*# sourceMappingURL=popup-style.css.map */