.draw-slider-view-root .slider-list-view .draw-box-div { width: 100%; }

.modal-common {
	.modal-footer {
        .width-100{ width: 100%; }
		.col-footer {
            .btn-col { width: 100%; display: flex; justify-content: flex-end; flex-wrap: wrap; }
            
            .btn.btn-primary{
                .fe-arrow-right { margin: -3px 0 0 10px; font-size: 19px; }
                .fe-save { font-size: 20px; margin: -3px 10px 0 0; }
            }

            .btn.btn-undo { border: 2px solid #62c2ce; padding: 10px 20px 8px 20px; min-width: 115px;
                .fe-rotate-ccw{ font-size: 18px; margin: -3px 8px 0 0; }
            }
            
            .btn.btn-reset {
                border: 2px solid #888888; color: #888888; padding: 10px 20px 8px 20px; min-width: 115px;
            }

		}
    }
    
    .capture-image-div{ width: 100%;
        .span-round-box { background: #000000; border: 6px solid #3d3d3c; color: #fff; font-size: 24px; height: 64px; width: 64px; border-radius: 100%; display: flex; align-items: center; justify-content: center; margin: 0 0 10px 0; transition: all 0.8s;  }
        
        .btn.btn-take-snap { font-size: 20px; color: #000000; display: flex; align-items: center; flex-direction: column; background-color: transparent; border: none; padding: 0 20px; margin: 0 auto; text-transform: uppercase; transition: all 0.8s; 
            &:hover, &:focus{ box-shadow: none; outline: none;color: #62C2CE; 
                .span-round-box{  background-color: #62C2CE; border-color: #56abb6;  color: #fff; }
            }
        }

        .btn.btn-flip-link {
            background-color: transparent; font-size: 20px; color: #000000; padding: 5px; border: none; outline: none; text-transform: uppercase; display: flex;
            .fe-custom-icon { font-size: 22px; margin: 0 10px 0 0; display: inline-block; }
            &:hover, &:focus{ box-shadow: none; outline: none;color: #62C2CE;  }
        }


        .btn-col-row { display: flex; justify-content: space-between; flex-wrap: wrap; }

        .btn-col-box-01 { width: 75%; padding-left: 25%; }
        .btn-col-box-02 { width: 25%; display: flex; align-items: center; justify-content: center; }

    }

    .img-width{ width: 100%; }

}

/* capture modal */

.modal-common-capture{
    &.modal-common .modal-body {
        padding: 0;
    }
}

/* End of capture modal */


@media (max-width: 767px){

    .draw-slider-view-root {
        .slider-list-view {
            .draw-box-div {
                width: 33.3%;                
            }
        }

        

    }

    .modal-common {

        .modal-footer {
            .col-footer {
                
                .btn.btn-primary{ width: 100%;
                    .fe-arrow-right {}
                    .fe-save { }
                }

                .btn.btn-undo {      width: 100%;
                    .fe-rotate-ccw{ }
                }
                
                .btn.btn-reset {    width: 100%;
                    
                }

                .btn-linked{ margin: 0 5px 10px 5px !important; padding: 0; width: calc(50% - 10px ); }

            }
        }

        .capture-image-div{

            .btn-col-box-01 { width: 100%; padding-left: 0; }
            .btn-col-box-02 { width: 100%; padding: 10px; background-color: #fafafa; margin: 15px 0 0 0; }

            .btn.btn-take-snap{ font-size: 16px; }
            .span-round-box { border: 4px solid #3d3d3c; font-size: 20px; height: 50px; width: 50px; }

            .btn.btn-flip-link{ font-size: 16px; 
                .fe-custom-icon{ font-size: 18px; }
            }

        } 

    }

    .modal-common.modal-common-capture {
        .modal-footer {
            padding: 20px 20px 0 20px;
            border: none;
        }
    }
    


    
}

@media (min-width: 768px) and (max-width: 1024px){

    

}