.logo-copy-div {
  padding: 0;
  margin: 10px 0 25px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-copy-div img.img-logo-cp {
  width: 70px;
  height: 82px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.logo-copy-div .logo-text-copy {
  padding: 12px 0 0 10px;
  position: relative;
  width: calc(100% - 70px);
}

.logo-copy-div .logo-text-copy h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #002411;
  letter-spacing: -0.13px;
  width: 100%;
  margin: 0px 0 1px 0;
}

.logo-copy-div .logo-text-copy h3 {
  font-family: "Avenir LT Std 55 Roman";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #002411;
  letter-spacing: -0.13px;
  width: 100%;
}

.logo-copy-div .logo-text-copy .span-block {
  display: block;
}

.new-brand-info-div {
  padding: 0;
  margin: 0px 0 0px 0;
  position: relative;
}

.new-brand-info-div .new-brand-info-box {
  padding: 0 15px 0 0;
  margin: 0px 0 25px 0;
  position: relative;
}

.new-brand-info-div .new-brand-info-box h3 {
  padding: 0;
  margin: 0px 0 5px 0;
  font-family: "Avenir LT Std 55 Roman";
  font-size: 18px;
  color: #002411;
  letter-spacing: -0.13px;
}

.new-brand-info-div .new-brand-info-box p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #002411;
  letter-spacing: -0.13px;
}

.new-brand-info-div .new-brand-info-box .span-block {
  display: block;
}

.new-info-left-div.info-left-div {
  max-width: 95%;
  margin: 0 0 25px 0;
}

.new-info-left-div.info-left-div .label-div {
  width: 175px;
}

.new-info-left-div.info-left-div .pra-div {
  width: calc(100% - 175px);
}

.new-info-left-div.info-left-div .col-div {
  margin: 10px 0 7px 0;
}

.new-info-left-div.info-left-div .col-first-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 55%;
}

.new-info-left-div.info-left-div .col-second-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.new-info-left-div h5 {
  font-weight: 500;
  font-family: "Avenir LT Std 55 Roman";
}

.new-info-left-div p {
  font-weight: 300;
}

.new-info-left-div .row-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 10px;
}

.new-info-left-div .row-div:nth-child(even) {
  background-color: #eee;
}

.text-row {
  width: 100%;
  margin: 0 0 10px 0;
}

.text-row p {
  line-height: 28px;
}

.text-row span.text-bold {
  font-weight: 500;
  font-family: "Avenir LT Std 55 Roman";
}

.justify-code-thumb.thumb-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 10px;
}

.justify-code-thumb img.logo-utah-img {
  width: 150px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.justify-code-thumb .text-code-div {
  padding: 20px 10px;
  text-align: center;
}

.justify-code-thumb .text-code-div h4 {
  text-decoration: none;
  margin: 0 0 10px 0;
  color: #ff0000;
}

.tab-footer-new .width-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}

.tab-footer-new .width-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  max-width: 15%;
  width: 100%;
}

@media (max-width: 767px) {
  .new-info-left-div .row-div {
    display: block;
    margin: 0 0 0px 0;
  }
  .new-info-left-div.info-left-div .col-first-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .new-info-left-div.info-left-div .col-second-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .new-info-left-div.info-left-div .col-div {
    margin: 15px 0 15px 0;
  }
  .new-info-left-div h5 {
    font-size: 16px;
    line-height: 26px;
  }
  .new-info-left-div p {
    font-size: 16px;
    line-height: 26px;
  }
  .tab-footer-new .sm-width-100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-footer-new .step-btn.sm-width-auto.width-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-footer-new .step-btn.sm-width-auto.width-70 .btn.btn-secondary2 {
    margin: 0 0 10px 0;
  }
  .tab-footer-new .right-side-footer-final .step-btn.order-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
  .tab-footer-new .right-side-footer-final .step-btn.order-3 {
    padding-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .new-info-left-div .row-div {
    display: block;
    margin: 0 0 0px 0;
  }
  .new-info-left-div.info-left-div .col-first-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .new-info-left-div.info-left-div .col-second-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .new-info-left-div.info-left-div .col-div {
    margin: 15px 0 15px 0;
  }
  .new-info-left-div h5 {
    font-size: 16px;
    line-height: 26px;
  }
  .new-info-left-div p {
    font-size: 16px;
    line-height: 26px;
  }
  .tab-footer-new .step-btn.sm-width-auto.width-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-footer-new .step-btn.sm-width-auto.width-70 .btn.btn-secondary2 {
    margin: 0 0 10px 0;
  }
  .tab-footer-new .width-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media print {
  header .header-div {
    display: none;
  }
  .step-forms-section .step-forms-nav-tab {
    display: none;
  }
  .card.panel-custom .card-header.panel-heading {
    display: none;
  }
  .tab-footer.tab-footer-new {
    display: none;
  }
  .step-forms-section {
    padding: 0px 0;
  }
  .card.panel-custom {
    border: 0px solid rgba(0, 36, 17, 0.1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .new-info-left-div.info-left-div {
    width: 100%;
    display: table;
  }
}
/*# sourceMappingURL=style2.css.map */