@charset "utf-8";
@import url(bootstrap.min.css);
@import url(feather.min.css);
@import url(../fonts/avenir/Avenir-font.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);

/* font-weight */


$font-Black: 'Avenir LT Std 65';
$font-Heavy: 'Avenir LT Std 55 Roman';

@mixin font-800() {
    font-family: $font-Black;
}
@mixin font-900() {
    font-family: $font-Heavy;
}
/* End of font-weight */

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$lightblue-color: rgba(39, 164, 248, 0.5);
$lightblue-color2: rgba(39, 164, 248, 0.3);

$primary-color:#62C2CE;
$primary-color-hover:rgb(95, 184, 196);

/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; font-family: 'Avenir LT' !important; scroll-behavior: smooth; background-color: #FDFDFD; }

.wrapper { background-color: #FDFDFD; display: block; height: 100%; min-height: 100vh; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1200px; }
.container-lg{ max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */

/*  general css */

.white-color{ fill: $white-color; }

h1 { padding: 0; margin: 0; font-weight: 500; font-size: 20px; color: #002411; letter-spacing: -0.15px; text-align: center; }


.mr-minus-10{ margin-right: -10px; margin-left: -10px; }
.pr-10{ padding-right: 10px; padding-left: 10px; }

.mr-minus-5{ margin-right: -5px; margin-left: -5px; }
.plr-5{ padding-right: 5px; padding-left: 5px; }

.plr-30{ padding-right: 30px !important; padding-left: 30px !important; }

.mr-10{ margin-right: 10px !important; }

.pr-10px{ padding-right: 10px !important; }
.pt-10{ padding-top: 10px !important; }

.pb-6{ padding-bottom: 6px !important; }
.pb-10{ padding-bottom: 10px !important; }

.mt-10{ margin-top: 10px !important; }
.mt-20{ margin-top: 20px !important; }

.mb-5px{ margin-bottom: 5px !important; }
.mb-20{ margin-bottom: 20px !important; }

.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }

.border-bottom1{ border-bottom: 1px solid rgba(0, 36, 17, 0.1); }

.text-normal{ text-transform: none !important; }

.display-none{ display: none !important; }

/**/

.btn.btn-primary{  width: 100%; padding: 10px 30px 8px 30px; margin: 0; min-height: 46px; display: flex; align-items: center; justify-content: center; transition: all 0.8s; line-height: 24px; background-color: #62C2CE; border: 1px solid rgba(0,36,17,0.10); border-radius: 8px;   @include font-800();
    font-size: 14px; color: #FFFFFF; text-align: center; text-transform: uppercase; transition: all 0.8s !important;
    &:hover, &:focus, &:active{ 
        background-color: #62C2CE; border: 1px solid rgba(0,36,17,0.10); outline: none; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3); transform: translateY(-2px);
    }
    &.disabled {
        background: rgba(192,192,192,0.50);
        border: 1px solid rgba(0,36,17,0.10);
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #62C2CE; border: 1px solid rgba(0,36,17,0.10) !important; outline: none; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3); transform: translateY(-2px);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
}

.btn.btn-secondary{  width: 100%; padding: 10px 30px 8px 30px; margin: 0; min-height: 46px; display: flex; align-items: center; justify-content: center; transition: all 0.8s; line-height: 24px; background-color: #FFFFFF; border: 1px solid rgba(192, 192, 192, 0.6); border-radius: 8px;   @include font-800();
    font-size: 14px; color: #62C2CE; text-align: center; text-transform: uppercase; transition: all 0.8s !important;
    &:hover, &:focus, &:active{ 
        background-color: #FFFFFF; border: 1px solid rgba(192, 192, 192, 0.6); color: #62C2CE; border: 1px solid rgba(0,36,17,0.10); outline: none; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.1); transform: translateY(-2px);
    }
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.1);
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #FFFFFF; border: 1px solid rgba(192, 192, 192, 0.6); color: #62C2CE; border: 1px solid rgba(0,36,17,0.10); outline: none; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.1);
}

.btn.btn-secondary2{  width: 100%; padding: 10px 30px 8px 30px; margin: 0; min-height: 46px; display: flex; align-items: center; justify-content: center; transition: all 0.8s; line-height: 24px; background-color: rgba(98,194,206,0.10); border: 1px solid rgba(98, 193, 206, 0.6); border-radius: 8px;   @include font-800();
    font-size: 14px; color: #62C2CE; text-align: center; text-transform: uppercase; transition: all 0.8s !important;
    &:hover, &:focus, &:active{ 
        outline: none; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.1); transform: translateY(-2px);
    }
    i.fe.fe-printer {
        font-size: 20px;
        margin: 0 5px 0 0;
    }
}


.btn-link { padding: 0; margin: 0; width: 100%; font-size: 16px; font-weight: 500; line-height: 30px; color: $primary-color; position: relative; transition: 0.8s;
    &::after{ content: ""; position: absolute; width: 40px; height: 1px; background-color: $primary-color; bottom: -2px; left: 0;  transition: 0.8s; }

    &:hover, &:focus {
        color: $primary-color; 
        &::after{ background-color: $primary-color; width: 100%; }
    }

}

.btn.btn-add {
    background: rgba(98,194,206,0.10); border: 1px solid rgba(0,36,17,0.10); min-height: 46px; font-weight: 900 !important; font-size: 16px; line-height: 22px; color: #62C2CE; letter-spacing: -0.12px; text-align: center; padding: 10px 30px 8px 30px; border-radius: 2px; transition: all 0.8s;
    &:hover, &:focus, &:active{ 
        outline: none; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.1); transform: translateY(-2px);
    }
}

.btn.btn-remove { background-color: #FDEEEE; border: 1px solid #F45C56; padding: 4px 10px 5px 11px; color: #F45C56; height: 33px; width: 33px; display: flex; align-items: center; justify-content: center; text-align: center; border-radius: 100px; font-size: 20px;
    &:hover, &:focus, &:active{ 
        outline: none; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.1); 
        background-color: #FDEEEE !important; border: 1px solid #F45C56 !important; color: #F45C56 !important;
    }
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.1); 
}



.pencil-icon{ display: inline-block; height: 15px; width: 15px; background-repeat: no-repeat; background-size: contain; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Horse-travel-permit-001' transform='translate(-964.000000, -314.000000)' stroke='%23002411' stroke-width='1.07999997'%3E%3Cg id='Group-4' transform='translate(127.000000, 136.000000)'%3E%3Cg id='Inpu-Filled-Copy-4' transform='translate(604.000000, 162.000000)'%3E%3Cg id='Icon/dummy' transform='translate(234.000000, 17.000000)'%3E%3Cg id='pen-tool'%3E%3Cpolygon id='Path' points='6.29999983 10.7099997 10.7099997 6.29999983 12.5999997 8.18999978 8.18999978 12.5999997'%3E%3C/polygon%3E%3Cpolygon id='Path' points='10.0799997 6.92999982 9.13499976 2.20499994 0 0 2.20499994 9.13499976 6.92999982 10.0799997'%3E%3C/polygon%3E%3Cline x1='0' y1='0' x2='8.54999977' y2='8.54999977' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.btn.btn-draw {
    border: 1px solid rgba(0, 36, 17, 0.1); border-radius: 2px; box-shadow: none; margin-bottom: 5px; background-color: #fff; color: #002411; min-height: 46px; font-size: 14px; padding: 12px 15px 10px 15px; font-weight: 500; transition: all 0.8s; text-align: left; display: flex; align-items: center; justify-content: space-between;
    &:focus{
        border-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 6px 14px 0 rgba(192, 192, 192, 0.6);
    }
}



/* end of button style */

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

.return-to-top { 
    position: fixed; bottom: 25px; right: 25px; background: $primary-color; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 999; 
    i { color: $white-color; margin: 0; position: relative; left: auto; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: initial; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
       &:hover { 
        background: $primary-color;
        i { color: $white-color; }
    }
    
}   


/* select2 */

.select2-container .select2-dropdown { margin-top: -10px; }

.select-box{  position: relative; display: flex; align-items: center;  }
.form-control.select-control {     height: 50px; border-radius: 0; background: #FFFFFF; font-size: 16px; color: #222221; text-align: left; border: 1px solid #DDDDDD; outline: 0; box-shadow: none; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.select-custom2{ 
    .select2-selection.select2-selection--single {     border: 1px solid rgba(192, 192, 192, 0.6) !important; border-radius: 2px; min-height: 46px; color: #3C454C; font-size: 14px; font-weight: 500; width: 100%; -webkit-appearance: none; background: #fff; position: relative; padding: 8px 5px; box-shadow: 0 3px 6px 0 rgba(192, 192, 192, .2); margin-bottom: 10px; }
    .select2.select2-container .select2-selection .select2-selection__arrow {    border-radius: 0 0px 0px 0; height: 42px; width: 35px; background-color: transparent; border: none; }
        .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none;
            top: 14px; left: 10px; font-size: 20px; font-family: Feather !important; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased;
            &::before{    content: '\e92e';}        
    }
}
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: #62C2CE; }
.select2-results__option { padding: 10px; }
    

.active-group{

    /* select box */
    .select2.select2-container::before{ font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 21px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; content: "\e86c" !important; color: #6DD400; position: absolute; top: 13px; left: 10px; z-index: 9; }
    .select-custom2 .select2-selection.select2-selection--single { padding-left: 30px; }
    /* End of select box */
    
}


/* end of select2 */

/*  End of general css */

/* header */

header{
    
    .header-div { 
        padding: 0; margin: 0; background-color: #1a1d3c; position: absolute; z-index: 999; width: 100%; min-height: 75px; background: #FFFFFF; border: 1px solid rgba(0,36,17,0.10); box-shadow: 0 12px 34px 0 rgba(224, 228, 226, 0.17); transition: all 0.8s;
        .header-container{ margin: 0 -15px; display: flex; justify-content: space-between; }

        .logo-div { 
            padding: 0px 10px 0px 10px; margin: 0; display: flex; align-items: center; width: 25%; min-height: 96px; position: relative;
            &:after{ content: ""; border-right: 1px solid #E0E4E2; height: 56px; position: absolute; right: 0; }
            .logo_link{ padding: 0px 0px 0px 0px; margin: 0; display: flex; }
            .logo_img{ width: 225px; object-fit: contain; object-position: left; }
        }

        .nav-right-div{
            padding: 0 0px 0px 0px; margin: 0; display: flex; align-items: center;justify-content: flex-end;  width: 25%; min-height: 96px;
            .menu-trigger{ display: flex; align-items: center; height: 100%; width: 50px; }
            .btn.btn-menu{ padding: 0; width: 100%; height: 100%; border-radius: 0px; display: flex; align-items: center; justify-content: center; background-color: #fff;  border: none; }
        }
      
    }
    
}

.center-nav-content-div{
    padding: 5px 15px 5px 15px; margin: 0; display: flex; align-items: center; width: 50%; min-height: 96px; overflow-x: auto;
    .title-div { display: flex; align-items: center; justify-content: center; width: 100%; }
}

/* start navigation  **/

.st-pusher {
    position: relative; left: 0; z-index: 9999; height: 100%; -webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s;
    &::after {
        position: absolute; top: 0; right: 0; width: 0; height: 0; background: rgba(0,0,0,0.2);
        content: '';
        opacity: 0; -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
}

.st-menu-open {
    
    .st-pusher{   
        &::after {
            width: 100%; height: 100%; opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s;
        }
    }
    .st-menu{
        &::after { width: 0; height: 0; opacity: 0; -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }
    }

    .navigation-menu::before{     content: ""; height: 100%; width: 100%; position: fixed; background-color: rgba(0, 0, 0, 0.4); z-index: 9999; left: 0; top: 0; }
}

.st-menu {
	position: fixed; top: 0; right: 0; z-index: 99999; visibility: hidden; width: 300px; height: 100%; min-height: 100vh; background: #fff; -webkit-transition: all 0.5s; transition: all 0.5s;  
    &::after {
        position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.2); content: ''; opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s;
    }

}

/* content style */

.st-menu{
    ul.ul-list { margin: 0px 0 0 0; padding: 0; list-style: none;
        li{
            a.nav-link {
                display: block; padding: 15px 20px; outline: none; color: #222; text-transform: capitalize; letter-spacing: 1px; font-weight: 400; transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
                &:hover {
                    background: #fafafa;
                    border-color: #fafafa;
                }
            }
            &:first-child a {
                
            }
        }
    }
    .closemenu-div{ width: 100%; display: flex; justify-content: flex-end; }
    .menu-close-btn {  padding: 0; height: 50px; width: 50px; display: flex; align-items: center; justify-content: center; background-color: #fff; border: 1px solid transparent; cursor: pointer; border-left: 0px solid #1a1d3c; border-right: 0px solid transparent; transition: 0.65s; font-size: 24px; color: #000;
        &:hover, &:focus{ outline: none; background-color: #eee; }
        img.close-img { width: 20px; }
    }
    
}

.st-effect-1.st-menu {
    visibility: visible; transform: translate(100%, 0px);
    
    &::after {
        display: none;
    }
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible; transform: translate(0px, 0px);
}

/*  End of navigation  */

/* End of header */

/* Middle section */

.main-middle-area{ padding: 96px 0 0 0; }

/* End of Middle section */


.step-forms-section{
    padding: 35px 0;
    .step-heading{ padding: 20px 0 20px 0; margin: 0 0 0px 0; display: flex; align-items: center; justify-content: center; flex-direction: column;
        h2 { padding: 0; margin: 0 0 10px 0; font-size: 36px; line-height: 48px; font-weight: 600; color: #222221; letter-spacing: 0; text-align: center; }
        P{ padding: 0; margin: 0 0 0px 0; font-size: 24px; color: rgba(27, 36, 44, 0.4); text-align: center; line-height: 32px; font-weight: 400; }
    }

    .step-forms-nav-tab{ padding: 20px 0 20px 0;
        ul { display: flex; border: 0; margin: 0; padding: 0; position: relative;
            &:after { content: ''; display: block; position: absolute; height: 0px; width: 65%; left: 17%; top: 14px; border-bottom: 2px solid rgba(192, 192, 192, 0.5); border-radius: 100px; display: block; clear: both; opacity: 0.8; }
            li { display: flex; width: 33.3%; align-items: center; justify-content: center;
                a { display: flex; flex-direction: column; align-items: center; justify-content: center; }
                .round-number{ width: 30px; min-width: 30px; height: 30px; background-color: #fdfdfd; font-size: 13px; padding: 8px 5px 5px 5px; line-height: 17px; font-weight: 500; color: #C0C0C0; display: flex; align-items: center; justify-content: center; border-radius: 30px; text-decoration: none; text-align: center; position: relative; z-index: 6; border: 1px solid #C0C0C0; }
                span.title-text { margin: 15px 0 10px 0; font-weight: 400; font-size: 16px; color: #888888; letter-spacing: -0.12px; text-align: center; }
            }

            li.active { position: relative;
                .round-number{ background-color: #62C2CE; color: #ffffff; }
                span.title-text { color: #000000;  }
            }

            li.done { position: relative;
                &:before { content: ''; display: block; position: absolute; height: 0px; width: 100%; left: 50.5%; top: 14px; background-color: #ffffff; border-bottom: 2px solid #62C2CE; border-radius: 100px; display: block; clear: both; z-index: 6; }
                a { 
                    .round-number:after { background-color: #fff; border-radius: 100%; font-size: 20px; content: "\e92b" !important; font-family: Feather !important; position: absolute; height: 100%; width: 100%; font-weight: 600; top: 0; left: 0; right: 0; display: flex; align-items: center; justify-content: center; color: #62C2CE; border: 1px solid #62C2CE; }
                }
            }

            li:last-child {
                &:before { display: none; }
            
            }
        }
    }

}

.panel-card-div{
    padding: 30px 35px; margin: 0 0 10px 0; position: relative; background: #FFFFFF; border: 1px solid rgba(0, 36, 17, 0.1); box-shadow: 0 12px 34px 0 rgba(224,228,226,0.17);            
}
.panel-card-div2{
    padding: 30px 35px 10px 35px; margin: 0 0 20px 0;
}

.mt-5{ margin-top: 5px !important; }

.form-div{
 
    ul.typeahead.dropdown-menu { padding: 5px 0; margin: -1px 0 0 0; font-size: 14px; max-height: 188px; overflow-y: auto; }
    ul.typeahead.dropdown-menu li { font-size: 14px; color: #12263f !important; padding: 7px 10px; border: 0px solid #fafafa; }
    ul.typeahead.dropdown-menu li.active{ background-color: rgba(224, 228, 226, 0.25); }
    ul.typeahead.dropdown-menu li a { color: #C0C0C0;font-weight: 500 !important; }
    ul.typeahead.dropdown-menu li a strong { color: #002411 !important; font-weight: 500 !important; }
    ul.typeahead.dropdown-menu::-webkit-scrollbar { background-color:#fff; width:8px }
    ul.typeahead.dropdown-menu::-webkit-scrollbar-track {  background-color:#fff }
    ul.typeahead.dropdown-menu::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
    ul.typeahead.dropdown-menu::-webkit-scrollbar-button {display:none}

    .form-group { margin-bottom: 20px; }
    .form-group.select-group { margin: 0 0 10px 0; }
    .form-control {
        border: 1px solid rgba(0, 36, 17, .1); border-radius: 2px; box-shadow: none; margin-bottom: 5px; background-color: #fff; color: #002411; min-height: 46px; font-size: 14px; padding: 12px 15px 10px 15px; font-weight: 500; transition: all 0.8s;
        
        &::-webkit-input-placeholder { color: #888888; }
        &::-moz-placeholder { color: #888888; }
        &:-ms-input-placeholder { color: #888888; }
        &:-moz-placeholder { color: #888888; }
        &:focus{ border-color: rgba(0, 0, 0, 0.4); box-shadow: 0 6px 14px 0 rgba(192, 192, 192, .6); }

    }
    .form-control:disabled, .form-control[readonly] {
        opacity: 1;
        background: rgba(224,228,226,0.30) !important;
        border-color: rgba(0,36,17,0.10) !important;
        color: #C0C0C0 !important;
    }

    /* date picker */

    .datepickercustom {  padding: 0; width: 100%; }
    .gj-datepicker-md [role=right-icon] { color: #002411; position: absolute; right: 13px; top: 12px; font-size: 18px; }
    .datepickercustom .gj-textbox-md { 
        border: 1px solid rgba(0, 36, 17, .1); border-radius: 2px; box-shadow: none; margin-bottom: 5px; background-color: #fff; color: #002411; min-height: 46px; font-size: 14px; padding: 12px 15px 10px 15px; font-weight: 500; transition: all 0.8s;     font-family: 'Avenir LT' !important;
        &::-webkit-input-placeholder { color: #888888; }
        &::-moz-placeholder { color: #888888; }
        &:-ms-input-placeholder { color: #888888; }
        &:-moz-placeholder { color: #888888; }
        &:focus{ border-color: rgba(0, 0, 0, 0.4); box-shadow: 0 6px 14px 0 rgba(192, 192, 192, .6); }    
    }
    /**/

    button.btn.btn-danger.btn-remove { position: absolute; top: -17px; right: 0; }

    .custom-checkbox-new { padding-left: 0px; margin: 0 0 10px 0; }
    .custom-checkbox .custom-control-label::before { position: absolute; left: 0; display: block; pointer-events: none; content: ""; border: 1px solid #C9D1CD; background-color: #ffffff; box-shadow: none; border-radius: 3px; transition: none; height: 19px; width: 19px; top: 0px; }
    .custom-checkbox-new .custom-control-label::after { position: absolute; top: .25rem; left: -1.5rem; display: block; width: 1rem; height: 1rem; content: "";  }
    .custom-checkbox-new .custom-control-input:checked ~ .custom-control-label::before { background-color: #fff; border-color: #fff; box-shadow: none; border-radius: 4px; transition: none; top: 0px; height: 18px; width: 18px; }
    .custom-checkbox-new .custom-control-input:checked ~ .custom-control-label:after {     width: 19px;
        height: 19px; top: -2px; left: -1px; font-family: Feather !important; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\e92d"; background-image: none; color: #62C2CE; font-size: 22px;
     }
    .custom-checkbox-new .custom-control-label { text-transform: capitalize;  padding: 3px; margin-bottom: 0; padding-left: 30px; cursor: pointer; font-weight: 500; font-size: 14px; color: #000000; text-align: left; }

    .custom-checkbox-new.custom-checkbox2 label.custom-control-label { font-weight: 300 !important; line-height: 20px; padding-top: 0 !important; }
    
    .bold-underline {
        font-weight: 500;
        text-decoration: underline;
        display: block;
    }


    .custom-radio.custom-control { position: relative; display: block; min-height: 32px; padding-left: 35px; margin: 0 0 5px 0; }
    .custom-radio .custom-control-label::before {cursor: pointer;  width: 25px; height: 25px; background-color: #fff; border: 1px solid #C9D1CD; }
    .custom-radio .custom-control-label::after{ cursor: pointer; width: 25px; height: 25px; background-size: 21px; }
    .custom-radio .custom-control-input:checked~.custom-control-label::after { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2362C2CE'/%3E%3C/svg%3E"); }
    .custom-radio .custom-control-input:checked~.custom-control-label::before { background-color: #fff; border: 1px solid #C9D1CD;  }
    .custom-radio label.custom-control-label {cursor: pointer;  font-size: 14px !important; color: #222221; letter-spacing: 0; line-height: 30px !important; padding: 2px 0 0 0; margin-bottom: 0 !important; }
    .custom-radio .custom-control-input:focus~.custom-control-label::before { box-shadow: none; }

    .radio-button-div { padding: 8px 0; }
    
    .custom-file{ height: 46px; }
    .custom-file-div{
        .custom-file-label {
            position: absolute; top: 0; right: 0; left: 0; z-index: 1; height: 46px; line-height: 22px; border: 1px solid rgba(0, 36, 17, 0.1); border-radius: 2px; box-shadow: none; margin-bottom: 5px; background-color: #fff; color: #002411; min-height: 46px; font-size: 14px; padding: 12px 15px 10px 15px; font-weight: 500; transition: all 0.8s;
            &:hover, &:focus{ border-color: rgba(0, 0, 0, 0.4); box-shadow: 0 6px 14px 0 rgba(192, 192, 192, .6); outline: none; }    
        }
        .custom-file-label::after { position: absolute; top: 7px; right: 0; bottom: 0; z-index: 3; display: block; height: calc(calc(2.25rem + 2px) - 1px * 2); padding: .375rem .75rem; color: #002411; font-size: 18px; background-color: transparent; border-left: 0px solid #ced4da; border-radius: 0 .25rem .25rem 0; font-family: Feather!important; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
            content: "\e9a3" !important;
        }
    }


    .active-group{

        /* file input */
        .custom-file-div {
            .custom-file-label { padding-left: 40px !important; 
                &:before{ font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 21px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; content: "\e86c" !important; color: #6DD400; position: absolute; top: 12px; left: 10px; z-index: 9; }
            }
        }
        /* End of file input */

        .btn.btn-draw{ padding-left: 40px !important; position: relative;
            &:before{ font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 21px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; content: "\e86c" !important; color: #6DD400; position: absolute; top: 12px; left: 10px; z-index: 9; }
        }

        &.active-form-group{
            position: relative;
            &:before{ font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 21px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; content: "\e86c" !important; color: #6DD400; position: absolute; top: 12px; left: 10px; z-index: 9; }
        }
        .form-control{
            padding-left: 40px !important; 
        }

    }

    /* Input custom change */

    .input-box-effect {
        position: relative;
        width: 100%;
        float: left;
        z-index: 0;
        display: block;

        .input-box-label { position: relative; margin: auto; width: 100%; }
        .input-box-label .label { position: absolute; left: 15px; width: auto; top: 17px; color: #888888; transition: 0.3s; font-size: 14px; font-weight: 400; transform-origin: 0 0; transition: all 0.2s ease; }
        .input-box-label .border { position: absolute; bottom: 0; left: 0; height: 2px; width: 100%; background: #666; transform: scaleX(0); transform-origin: 0 0; transition: all 0.15s ease; }
        .input-box-label .form-input { -webkit-appearance: none; width: 100%; box-sizing: border-box; letter-spacing: 1px; border: 1px solid rgba(0, 36, 17, 0.1); padding: 7px 15px; transition: 0.4s; background: transparent; line-height: 24px; border-radius: 2px; font-size: 14px; font-weight: 500; min-height: 46px; color: #002411; }
        .input-box-label .form-input:not(:placeholder-shown) + span { color: #888888; transform: translateY(-23px); font-size: 12px; padding: 0 5px; margin: 0 -5px; background-color: #fff; font-weight: 500; }
        .input-box-label .form-input:focus { outline: none; background-color: transparent; outline: none; border: 1px solid rgba(0, 0, 0, 0.4); box-shadow: 0 6px 14px 0 rgba(192, 192, 192, 0.6); }
        .input-box-label .form-input:focus + span { color: #002411; transform: translateY(-23px); font-size: 12px; background-color: #fff; padding: 0 5px; margin: 0 -5px; outline: none; box-shadow: none; font-weight: 500; }
        

    }

    /* End of input custom change */

}

/* date picker */
.gj-picker-md .fa_left_icon{ display: flex; align-items: center; justify-content: center; min-height: 42px; }
.gj-picker-md .fa.fa-angle-right { display: flex; align-items: center; justify-content: center; min-height: 42px; }
.gj-picker-md td.today.gj-cursor-pointer { background: #62C2CE;     color: #C0C0C0; border-radius: 100%; }
.gj-picker-md table tr td.selected.gj-cursor-pointer div { color: #FFF; background: #B1B1B1; border-radius: 50%; }
.gj-picker-md table tr td.today:hover div, .gj-picker-md table tr td.today:focus div{ background: #727272 !important;color: #fff;border-radius: 100%; }
.gj-picker-md table tr td.today div { color: #fff !important; }
.gj-picker-md table tr td div, .gj-picker-md table tr th div { width: 40px; height: 40px; line-height: 42px; font-size: 14px; }
.gj-picker-md table tr td.selected.gj-cursor-pointer div { color: #002411; background: #eee; border-radius: 50%; }
/* End of date picker */

.tab-footer {
    padding: 15px 0 10px 0;
    .width-25{ flex: 0 0 25%; max-width: 25%; width: 100%; }
    .width-50{ flex: 0 0 50%; max-width: 50%; width: 100%; }
    .width-100{ flex: 0 0 100%; max-width: 100%; width: 100%; }
    .max-width-25{ max-width: 50%;  }
    .content-div{
        padding: 0; margin: 0; position: relative;
        .title-p{ font-weight: 500; color: #002411; text-decoration: underline; }
        p { font-weight: 400; font-size: 12px; color: rgba(0,18,-2147483648,0.67); letter-spacing: -0.09px; line-height: 18px;   }
    }
}

.btn-add-row{ padding: 0; margin: 0 0 20px 0; position: relative; }

.card.panel-custom {
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(0, 36, 17, 0.1);
    box-shadow: 0 12px 34px 0 rgba(224, 228, 226, 0.17);
    .card-header.panel-heading {
        h2{ @include font-900(); font-size: 18px; color: #002411; letter-spacing: -0.13px; }
        padding: 20px 35px 18px 35px;  background-color: #fff; border-bottom: 1px solid rgba(0, 36, 17, 0.1); 
    }
    .panel-body {
        padding: 1.25rem 35px;
    }
    .panel-body1{
        border-bottom: 1px solid rgba(0, 36, 17, 0.1);
    }
}

.ul-div{ 
    h4 { padding: 0; margin: 0 0 20px 0; font-weight: 500; font-size: 18px; color: #002411; letter-spacing: -0.13px; text-decoration: underline; }
    h5 { padding: 0; margin: 0 0 0px 0; font-weight: 300; font-size: 18px; color: #002411; letter-spacing: -0.13px; width: 100%; }
    p { padding: 0; margin: 0 0 0px 0; font-weight: 500; font-size: 18px; color: #002411; letter-spacing: -0.13px; }
    
    .info-left-div {
        display: flex; flex-flow: wrap;
        .col-div { display: flex; flex: 0 0 50%; max-width: 50%; margin: 0 0 10px 0 ; }
        .label-div { width: 130px; }
        .pra-div{ width: calc(100% - 130px); }
        .full-width-div{ flex: 0 0 100%; max-width: 100%;width: 100%; }
    }

    .thumb-div { padding: 40px 20px; }
}

.custom-ul{
    padding: 0; margin: 0; position: relative; list-style: none;
    li{
        padding: 1px 0 0 38px; margin: 0 0 10px 0; font-weight: 400; position: relative; font-size: 18px; color: #002411; letter-spacing: -0.13px;
        &::before{ font-family: Feather !important; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\e92c"; color: #6DD400; position: absolute; left: 0; top: 0; }
    }
}

.table-custom thead td, .table-custom thead th { border-bottom-width: 1px; background-color: #FAFAFA; font-weight: 200; font-size: 16px; color: #002411; letter-spacing: -0.12px; text-align: center; line-height: 22px; border-bottom: 1px solid rgba(224, 228, 226, .6); }
.table-custom td, .table-custom th { border: 1px solid rgba(224, 228, 226, .6); }
.table-custom thead th { padding: 13px 10px 8px 10px; }
.table-custom td { text-align: center; font-weight: 500; font-size: 16px; color: #002411; line-height: 22px; letter-spacing: -0.12px; vertical-align: middle; padding: 13px 10px 8px 10px; }
.table-custom .font-bold{ @include font-900(); }

.mx-width-370{max-width: 370px;}
.content-small-div{
    padding: 0; margin: 0; position: relative;
    .title-p{ font-weight: 500; color: #002411; text-decoration: underline; }
    p { font-weight: 400; font-size: 12px; color: rgba(0,18,-2147483648,0.67); letter-spacing: -0.09px; line-height: 18px;   }
}
.radio-div{
    h3 { font-weight: 500; font-size: 16px; color: #002411; letter-spacing: -0.12px; line-height: 24px; }
}

.sub-table-div {
    display: flex; flex-direction: column; flex-flow: wrap;
    .tr-row {
        width: 100%; display: flex; justify-content: space-between;
        p{ margin: 0 0 15px 0; font-weight:300; font-size: 16px; color: #002411; letter-spacing: -0.12px; line-height: 24px; }
    }
    .tr-row.tr-row-final {
        border-top: 1px solid #E0E4E2; padding: 15px 0px;
        p{ @include font-900(); }
    }
    .td-col.td-col-prise { min-width: 85px; }
}

/* end of Live Stock Brand Inspection page */

/* Start Horse Permanent Travel Permit page  */

.upload-image-view{
    padding: 0px 0; margin: 0; position: relative;
    .img-thumb-box {
        padding: 0; margin: 0 0 10px 0; position: relative; display: flex;
        .img-responsive {
            width: 100%; height: 125px; object-fit: cover;
        }
    }
    
}

.btn.btn-delete.btn-delete-round {
    background: rgba(244,92,86,0.75); border: 1px solid #F45C56; border-radius: 0 0 0 7px; height: 30px; width: 30px; color: #fff; padding: 3px; font-size: 20px; position: absolute; top: 0; right: 0; transition: all 0.8s;
    &:hover, &:focus{
        background: rgba(244,92,86,1);
    }
}

.col-20{ flex: 0 0 20%; max-width: 20%; }

.form-border-div{  border-bottom: 1px solid rgba(0, 36, 17, 0.1); padding: 30px 35px 15px 35px; }

.modal-common{
    .modal-dialog.modal-xl { max-width: 1200px; }
    .close {     position: absolute; top: 28px; right: 25px; font-size: 30px; color: #fff; opacity: 1; }
    h4.modal-title { font-weight: 500; font-size: 32px; color: #000000; letter-spacing: -0.24px; text-align: center; width: 100%; margin: 0; }
    .modal-header { background: #FAFAFA; border: 0 solid rgba(0,36,17,0.10); border-radius: 0 !important; padding: 20px 20px 16px 20px; position: relative;  }

    .modal-body { padding: 20px; }

    .modal-footer { border-radius: 0px; background-color: #fff; padding: 20px 40px;
        .col-footer { display: flex; width: 50%; justify-content: flex-end;
            .btn-col{ width: 100%; }
        }
    }

}

.draw-slider-view-root{
    padding: 0; margin: 0; position: relative;
    .slider-list-view{
        padding: 0; margin: 0; position: relative;
        .row-list{ display: flex; flex-direction: column; flex-flow: wrap; }
        .draw-box-div { padding: 0; margin: 0 0 12px 0; position: relative; display: flex; cursor: pointer; 
            &:last-child{
                margin: 0 0 0px 0;
            }
        }
        .img-fit { width: 100%; border: 1px solid #979797; border-radius: 2px;     height: 172px; object-fit: contain; object-position: center; background-color: #fff; }
        .draw-box-div.active .img-fit{ border:2px solid #62C2CE; }
    }
    .active-view-draw{
        padding: 0; margin: 0; position: relative;
        .img-cover-box{ padding: 0; margin: 0; width: 100%; }
        .img-fluid.img-full { width: 100%; height: 540px; object-fit: contain; object-position: center; }
    }
}

.modal-backdrop.show { opacity: .8; }


/* End of Horse Permanent Travel Permit page  */

@media (min-width: 1025px) {
    
    .max-md-1920{
        margin: 0 auto !important; max-width: 1920px !important; position: relative !important;
    }

}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container { max-width: 1100px; }

}

@media (min-width: 1025px) and (max-width: 1450px) {


    
}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    body{ overflow-x: hidden; }
    body.overflow-fixed{ overflow-y:hidden; }

    .position-fixed { overflow: hidden; }

    /**  header  ******/
    
    header .header-div .header-container { margin: 0 -15px; flex-direction: column; }
    
    header .header-div .logo-div { padding: 0px 15px 0px 15px; width: 75%; min-height: 91px; }
    header .header-div .logo-div:after{ display: none; }

    header .header-div .nav-right-div { width: 25%; min-height: 91px; position: absolute; right: 0; top: 0; }
    header .header-div .nav-right-div .menu-trigger{ width: 55px; }

    h1 { font-size: 14px; color: #000000; text-align: center; }
    .center-nav-content-div { padding: 5px 15px 5px 15px; width: 100%; min-height: 46px; overflow-x: auto; border-top: 1px solid rgba(0, 36, 17, .1); }

    /** End of header  ******/

    .main-middle-area { padding: 138px 0 0 0; }

    .step-forms-section { padding: 15px 0; }
    .step-forms-section .step-forms-nav-tab ul li .round-number { position: absolute; top: 0; }
    .step-forms-section .step-forms-nav-tab { min-height: 130px; }
    .step-forms-section .step-forms-nav-tab ul li span.title-text{ width: 0; overflow: hidden; }
    .step-forms-section .step-forms-nav-tab ul li.active span.title-text { color: #000000; position: absolute; top: 35px; right: auto; left: 0; width: 100%; }
    .step-forms-section .step-forms-nav-tab ul li.active:nth-child(1) span.title-text { width: calc(100% + 100% + 100% ); }
    .step-forms-section .step-forms-nav-tab ul li.active:nth-child(2) span.title-text { width: calc(100% + 100% + 100%); background-color: #fdfdfd; left: calc( -100% ); }
    .step-forms-section .step-forms-nav-tab ul li.active:nth-child(3) span.title-text { width: calc(100% + 100% + 100%); background-color: #fdfdfd; left: calc( -200% ); }
    .step-forms-section .step-forms-nav-tab ul li.active.done span.title-text { width: 0; overflow: hidden; }
    
    .step-forms-tab-content { margin-left: -15px; margin-right: -15px; }


    .panel-card-div { padding: 20px;}
    .form-div .form-group { margin-bottom: 15px; }

    .tab-footer { padding: 15px 20px; }
    .tab-footer .sm-width-100{ flex: 0 0 100%; max-width: 100%; width: 100%; }

    .card.panel-custom .card-header.panel-heading { padding: 20px 20px 18px 20px; }
    .card.panel-custom .card-body.panel-body { padding: 1.25rem 20px; }
    
    .btn-add-row { padding: 0 20px; margin: -10px 0 10px 0; position: relative; }

    .d-flex.d-flex-sm { display: block !important; }
    .remove-mobile{ display: none; }
    .tab-footer .width-50.width-right { margin-left: -10px; width: calc( 100% + 10px ); flex: 0 0 calc( 100% + 10px ); max-width: calc( 100% + 10px ); margin-top: 15px; }


    .card-body.panel-body.pb-10 { padding-bottom: 20px !important; }

    .ul-div .thumb-div { padding: 25px 20px 40px 20px; justify-content: center !important; align-items: center !important; }
    .ul-div .info-left-div .col-div { flex: 0 0 100%; max-width: 100%;  }
    .info-left-div .full-row.d-flex.mb-20 { flex-flow: wrap; margin-bottom: 0px !important;  }
    .info-left-div .full-row.d-flex.mb-20 .col-div.flex-column { margin: 0 0 15px 0 !important; }
    .col-div .custom-ul { margin: 0 0 10px 0; }

    .table-custom thead th { min-width: 145px; }

    .tab-footer .step-btn.sm-width-auto { flex: 0 0 54px; max-width: 54px; }
    .tab-footer .right-side-footer-final .step-btn.order-1 { padding-left: 0px !important; }
    .right-side-footer-final .btn.btn-secondary2 i.fe.fe-printer { font-size: 20px; margin: 0 0px 0 0; }
    .right-side-footer-final .btn.btn-secondary.btn-previous { padding-left: 20px; padding-right: 20px; }
    .right-side-footer-final .btn.btn-primary.btn-save{ padding-left: 20px; padding-right: 20px; }
    .right-side-footer-final .step-btn.width-25.sm-width-50 { flex: 0 0 calc(50% - 27px); max-width: calc(50% - 27px); }
    .tab-footer .btn.btn-secondary2.max-width-25 { max-width: 100%; padding-left: 13px; padding-right: 13px; }
    .right-side-footer-final .step-btn.order-3 { padding-left: 10px; }

    /* Start Horse Permanent Travel Permit page  */

    .panel-card-custom-div{ margin-left: -15px; margin-right: -15px; }
    .tab-footer2{ margin-left: -15px; margin-right: -15px; }
    .col-20 { flex: 0 0 50%; max-width: 50%; }
    

    .pt-xs0{ padding-top: 0px !important; }
    .display-none-sm{ display: none !important; }
    .width-xs-120{ width: 120px !important; }

    .modal-common {
        .modal-content { margin-top: 32px; margin-bottom: 32px; }
        h4.modal-title { font-size: 20px; }
        .close { top: 10px; right: 10px; font-size: 24px; }
        
        .modal-footer {
            padding: 20px 20px 20px 20px;
            border: none;
            .col-footer{
                width: 100%;
            }
        }
    }

    .draw-slider-view-root {
        .slider-list-view {
            .row-list { flex-direction: row; }
            .draw-box-div { margin: 0 0 6px 0; width: 33.3%; padding: 3px; }
            .img-fit { height: 56px; }
            .draw-box-div.active { .img-fit { border: 1px solid #62C2CE; } }
            
        }
        .active-view-draw {
            padding: 20px 0 25px 0;
            .img-fluid.img-full {
                height: 240px;
            }
        }
    }
    
    .form-border-div { padding: 30px 20px 15px 20px; }

    .panel-card-custom-div{
        .form-border-div{
            .form-group.select-group { margin: 0 0 5px 0; }
            .form-group.date-picker-group{ margin-bottom: 10px; }
        }
    }

    /* End of Horse Permanent Travel Permit page  */



}

@media (min-width: 768px) and (max-width: 1024px) {

    body{ overflow-x: hidden; }
    body.overflow-fixed{ overflow-y:hidden; }
    .position-fixed { overflow: hidden; }

    .ul-div .thumb-div { padding: 25px 20px 40px 20px; justify-content: center !important; align-items: center !important; }
    
    .ul-div .info-left-div .col-div.tab-col-40{ flex: 0 0 40%; max-width: 40%; }
    .ul-div .info-left-div .col-div.tab-col-60{ flex: 0 0 60%; max-width: 60%; }

    /* Start Horse Permanent Travel Permit page  */

    .col-20 { flex: 0 0 33.3%; max-width: 33.3%; }

    .modal-common {
        .modal-dialog.modal-xl {
            max-width: 720px;
        }
    }
    

    /* End of Horse Permanent Travel Permit page  */

}


@media (min-width: 1024px) and (max-width: 1366px) {

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}